body {
    font-family: Arial, sans-serif;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Dimenções do bot */
#chat-container { 
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%; /* Tornar responsivo */
    max-width: 500px; /* Aumentar largura máxima */
    height: 700px; /* Aumentar altura total */
    display: flex;
    flex-direction: column;
}

#name-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#chat-box {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
    border-bottom: 1px solid black;
    max-width: 100%;
}

.message {
    margin: 5px 0;
    padding: 15px; /* Aumentar o padding das mensagens */
    border-radius: 10px;
    max-width: 70%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    transition: background-color 0.3s; /* Suaviza a transição da cor */
}

.user-message {
    background-color: #dcf8c6; /* Verde */
    align-self: flex-end;      /* À direita */
}

.bot-message {
    background-color: #f1f1f1; /* Cinza */
    align-self: flex-start;    /* À esquerda */
}

#input-container {
    display: flex;
    padding: 10px;
    background-color: #f9f9f9; /* Fundo claro para o input */
    border-top: 1px solid #ccc; /* Separação visual */
}

#message {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-right: 5px;
    transition: border-color 0.3s; /* Suaviza a transição da borda */
}

#message:focus {
    border-color: #007bff; /* Destaque ao focar */
    outline: none; /* Remove o contorno padrão */
}

button {
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s; /* Suaviza a transição de cor */
}

button:hover {
    background-color: #0056b3; /* Cor ao passar o mouse */
}

a {
    color: blue;
    text-decoration: underline;
}

a:hover {
    color: darkblue;
}

.bot-message a {
    color: blue;
    text-decoration: underline;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.hidden-image {
    display: none; /* Inicialmente oculto */
    position: absolute; /* Para que a imagem possa flutuar sobre o chat */
    background-color: white; /* Fundo branco para a imagem */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar destaque */
    z-index: 10; /* Para garantir que a imagem fique acima de outros elementos */
}

.hidden-image img {
    max-width: 300px; /* Largura máxima da imagem */
    border-radius: 10px; /* Bordas arredondadas da imagem */
    transition: transform 0.3s; /* Suaviza a transição ao expandir */
}

.hidden-image img:hover {
    transform: scale(1.05); /* Leve zoom ao passar o mouse */
}
